@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body{
    background-color: #E1E5EE;
}

header {
    margin-inline: 150px;
    padding: 0;
    margin-top: 80px;
}

main{
    margin-inline: 150px;
    display: flex;
    flex-direction: column;
}

#content {
    margin: 100px;
    padding: 0;
    padding-top: 20px;

    h1 {
        color: #2A324B;
        font-size: 40px;
        
    }

    p {
        font-size: 20px;
    }

    a {
        font-size: 20px;
        
    }

    a:visited {
        color: #3b60d1;
    }
}

#contentarea {
    background-color: #fff;
    padding-bottom: 150px;
}

nav {
    margin: 0;
    padding: 0;
    

    #navbar {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 15px;

        li {
            flex: 1;
        }
    }
}


.whitebutton {
    background: #fff;
    color: #2A324B;
    padding-block: 20px;
    padding-inline: 30px;
    width: 100%;
    border: none;
    font-size: 20px;
    white-space: nowrap;
}

.bluebutton {
    color: #fff;
    background: #2A324B;
    padding-block: 20px;
    padding-inline: 30px;
    width: 100%;
    border: none;
    font-size: 20px;
    white-space: nowrap;
}


  